# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenv
.venv/
venv/
env/

# Django stuff
db.sqlite3
media/
staticfiles/

# VSCode / IDE
.vscode/
.idea/
*.code-workspace

# Env / secrets
.env
*.env

# OS
.DS_Store
Thumbs.db
